.cover-img {
  width: 100%;
  object-fit: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle {
  background-color: white;
  box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.2);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(207, 207, 196, 0.5);
  text-align: left;
  padding: 25px;
}

.rectangle-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

.rectangle-title {
  font-size: 1.75rem !important;
  margin-left: 10px !important;
}

.rectangle-footer {
  background-color: rgba(250, 250, 250, 1);
  height: 50px;
  width: calc(100% + 50px);
  margin-left: -25px;
  margin-bottom: -25px;
  margin-top: 20px;
}

.tech-list {
  margin-right: 50px;
}

.tech-list:first-child {
  margin-left: 0 !important;
}

.tech-list-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  background-position: 50% 50%;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  background-position: 50% 50%;
}

.role {
  overflow: hidden;
  height: 37px;
}

.role_container {
  margin-left: 7px;
  overflow: hidden;
  justify-content: center;
}

.role_container_list {
  padding: 0;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: alternate;
  animation-fill-mode: both;
}

.role_container_list_item {
  padding: 0;
  list-style-type: none;
}

@keyframes change {
  0% {
    transform: translateY(0);
  }
  8.34% {
    transform: translateY(0);
  }
  16.66% {
    transform: translateY(-20%);
  }
  25% {
    transform: translateY(-20%);
  }
  33.33% {
    transform: translateY(-40%);
  }
  41.66% {
    transform: translateY(-40%);
  }
  50% {
    transform: translateY(-60%);
  }
  58.34% {
    transform: translateY(-60%);
  }
  66.66% {
    transform: translateY(-80%);
  }
  75% {
    transform: translateY(-80%);
  }
  83.34% {
    transform: translateY(-90%);
  }
  91.66% {
    transform: translateY(10%);
  }

  /* 100% {
    transform: translateY();
  } */
}
