/* @import '~antd/dist/antd.css'; */
.headline {
  font-family: 'Lovers Quarrel', cursive;
  font-size: 72px !important;
  font-weight: 300 !important;
}

.heading {
  font-family: 'Raleway', sans-serif;
  font-size: 32px !important;
  font-weight: 300 !important;
}

.subheading {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 300;
}

body,
li {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

li {
  font-weight: 500;
}

.content {
  position: relative;
  top: 200px;
  margin-bottom: 200px;
  z-index: 0;
  align-items: center;
  justify-content: center;
}
